html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

html {
  background: url(walrus.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  padding-top: 4%;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.word {
  font-weight: 400;
  font-size: 2.3em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.dash {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 200px;
  height: 200px;
  float: right;
}

.thanks {
  color: gray;
  color: rgba(0,0,0,.7);
  font-size: 0.7em;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.description {
  font-size: 1.5em;
}
