html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

html {
  background: url(walrus.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  margin-top: 5%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.word {
  font-size: 2.5em;
}

.phonetic {
  font-size: 1.5em;
}

.description {
  font-size: 1.5em;
}
