html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.word {
  font-size: 2.5em;
}

.phonetic {
  font-size: 1.5em;
}

.description {
  font-size: 1.5em;
}
